@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body {
  margin: 0;
  font-family: 'Dela Gothic One', cursive;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family:'Bungee Inline', cursive;
}

:root {
  --primary-color: #f3be00;
}

* {
  box-sizing: border-box;
  
}